### Importing Libraries

In [29]:
import pandas as pd

### Edit Pandas Setting To Show All Columns

In [30]:
pd.set_option("display.max_columns", 30)

### Read Data

In [31]:
# Read All Sheets In The Excel File as Dictionary
excel_sheet = pd.read_excel("supply_data.xlsx", sheet_name = None)
print(type(excel_sheet))
excel_sheet.keys()

<class 'dict'>

dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

### Concat All Sheets Together

In [32]:
# Create Empty df
df = pd.DataFrame()

In [33]:
# Looping on all Sheets To Concat it with the df
for k, _ in excel_sheet.items():
    df = pd.concat([df, excel_sheet[k]], ignore_index=True)

In [34]:
df.shape

(61, 29)

### Replace Space From Columns With _

In [35]:
df.columns = df.columns.str.replace(" ", "_")
df.columns

Index(['Month', 'Day', 'Load', 'Tonnage', 'Customer_Type', 'Destination',
       'Rate', 'Truck', 'Insurance', 'Fuel', 'Diesel_Exhaust_Fluid', 'Advance',
       'Warehouse', 'Repairs', 'Tolls', 'Fundings', 'Driver_Name', 'Odometer',
       'Miles', 'Rate_Per_Miles', 'Extra_Stops', 'Extra_Pay',
       'Costs_Driver_Paid', 'Total_Expenses', 'First_condition_type',
       'Shipment_cost_sub-items', 'ERE_Stage', 'Basic_freight',
       'Final_Amount'],
      dtype='object')

In [36]:
df.head(10)

,Month,Day,Load,Tonnage,Customer_Type,Destination,Rate,Truck,Insurance,Fuel,Diesel_Exhaust_Fluid,Advance,Warehouse,Repairs,Tolls,Fundings,Driver_Name,Odometer,Miles,Rate_Per_Miles,Extra_Stops,Extra_Pay,Costs_Driver_Paid,Total_Expenses,First_condition_type,Shipment_cost_sub-items,ERE_Stage,Basic_freight,Final_Amount
0,Jan,1,Wood,11.0,Retaining Customer,Nunavut.,5556,Freightliner Sprinter,132,400,50,250,120,65.0,134,6,Alessandro Smith,295.41,343,240.1,100,22,54,1573.1,722.28,1111.2,944.52,1389.00,1666.8
1,Jan,3,Wood,21.3,Retaining Customer,British Columbia,5556,Freightliner Sprinter,132,400,50,250,120,65.0,134,6,Beauregard Mike,295.41,343,240.1,100,22,54,1573.1,722.28,1111.2,944.52,1389.00,1666.8
2,Jan,13,Wood,22.0,Retaining Customer,Manitoba,5556,Freightliner Sprinter,132,400,50,250,120,65.0,134,6,Jean Bartholomew,295.41,343,240.1,100,22,54,1573.1,722.28,1111.2,944.52,1389.00,1666.8
3,Feb,4,Sand,14.5,Retaining Customer,British Columbia,4567,Freightliner Sprinter,132,333,51,250,134,65.0,134,6,Alessandro Smith,295.41,354,247.8,100,23,55,1530.8,593.71,913.4,776.39,1141.75,1370.1
4,Feb,5,Sand,18.0,Retaining Customer,Manitoba,4567,Freightliner Sprinter,132,333,52,250,134,65.0,134,6,Beauregard Mike,295.41,354,247.8,100,23,55,1531.8,593.71,913.4,776.39,1141.75,1370.1
5,Feb,6,Sand,19.0,Retaining Customer,New Brunswick,4567,Freightliner Sprinter,132,333,53,250,134,65.0,134,6,Jean Bartholomew,295.41,354,247.8,100,23,55,1532.8,593.71,913.4,776.39,1141.75,1370.1
6,Feb,14,Sand,20.0,Retaining Customer,Nunavut,4567,Freightliner Sprinter,132,333,54,250,134,65.0,134,6,Jaison Augustine,295.41,354,247.8,100,23,55,1533.8,593.71,913.4,776.39,1141.75,1370.1
7,Mar,2,Iron,21.0,Retaining Customer,Manitoba,3458,Freightliner Sprinter,132,453,55,250,121,32.0,56,56,Alessandro Smith,295.41,333,233.1,100,24,56,1568.1,449.54,691.6,587.86,864.50,1037.4
8,Mar,3,Iron,22.0,New Customer,British Columbia,3458,Freightliner Sprinter,132,453,56,250,121,32.0,56,56,Beauregard Mike,295.41,333,233.1,100,24,56,1569.1,449.54,691.6,587.86,864.50,1037.4
9,Mar,7,Sand,22.7,New Customer,Manitoba,3458,Freightliner Sprinter,132,453,57,250,121,32.0,56,56,Jaison Augustine,295.41,333,233.1,100,24,56,1570.1,449.54,691.6,587.86,864.50,1037.4